h1{
    text-align: center;
    background-color: coral;
    border: transparent ;
}

table{
    border: black ridge;
    background-color: white;
    width: 80%;
}
tbody tr:nth-child(odd){
    background-color: rgb(255, 173, 173);
    border-top: 3px ridge white;
}tbody tr:nth-child(even){
    background-color: rgb(255, 173, 173, 0.5);
    border-top: 3px ridge white;
}
tbody th{
    background-color: tomato;
}

input{
    width: 90%;
}

select{
    width: 91%;
}

body{
    margin-top: 40px ;
    background-color: rgb(255, 127, 80, 0.5);
}